<!DOCTYPE html>
<html>
  <head>
    <title> Coder Saints | Blog</title>
    <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <link rel="stylesheet" href="/stylesheets/app.css">
  </head>
<body>
  <div class="ui top fixed inverted menu">
    <div class="ui container">
      <a class="header item" href="/blogs">
        <i class="code icon"></i>
        Coder Saints Blog
      </a>
      <a class="item" href="/blogs">Home</a>
      <a class="item" href="/blogs/new">New Post</a>
    </div>
  </div>
  
  <div class="ui main container">

