<% include partials/header %>

<div class="ui text container segment">
  <div class="ui header huge">New Blog</div>
  <form class='ui form' action="/blogs" method="POST">
    <div class="field">
      <label >Title</label>
      <input type="text" name="post[title]" placeholder="Title of Post...">
    </div>
    <div class="field">
      <label >Image</label>
      <input type="text" name="post[image]" placeholder="URL of image here...(ie. https://source.unsplash.com/700x400/?nature,water)">
    </div>
    <div class="field">
      <label >Content</label>
      <textarea type="body" name="post[body]" placeholder="Description of Blog Post..."></textarea>
    </div>

    <button class="ui violet basic big button" type="submit">Create New Post</button>
  </form>
</div>



<% include partials/footer %>